<div id='<%= unique_id %>' class='deliverable deliverable-container copywriting'>

	<div class='titlebar'>
		<div class='item_name'><%= deliverable_name %></div> <div class='close'><span class='badge'>X</span></div> <div class='add_specs'>Add Specs</div> 
	</div>
	<div class='inner_content'>

		<h3>How Many Pages?</h3>
		<div class='subcontainer deliverable_website_numpages_container select_one_only'>
			<div class='drop' data-cost='1000'>1-5</div>
			<div class='drop' data-cost='3000'>5-10</div>
			<div class='drop' data-cost='5000'>10-20</div>
			<div class='drop' data-cost='8000'>20+</div>
		</div>

		<h3>What Style?</h3>
		<div class='subcontainer deliverable_features_container select_one_only'>
			<div class='drop' data-cost='0'>Simple Simon</div>
			<div class='drop' data-cost='100'>Joan Collins</div>
			<div class='drop' data-cost='500'>Stephen King</div>
			<div class='drop' data-cost='1000'>T.S. Eliot</div>
			<div class='drop' data-cost='1200'>David Foster Wallace</div>
			<div class='drop' data-cost='2000'>James Joyce (Later Years)</div>
			<div class='drop' data-cost='10000'>e.e. cummings</div>
		</div>

		<h3>Example Links:</h3>
		<input type='text' placeholder='http://' />

		<h3>Additional Notes</h3>
		<textarea placeholder='Write your additional comments in this box'></textarea>

	</div>

</div>