<div id='<%= unique_id %>' class='deliverable deliverable-container unmatched'>

	<div class='titlebar'>
		<div class='item_name'><%= deliverable_name %></div> <div class='close'><span class='badge'>X</span></div> <div class='add_specs'>Add Specs</div> 
	</div>
	<div class='inner_content'>

		<h3>Describe this deliverable: </h3>
		<div class='subcontainer deliverable_unmatched_numpages_container textarea'>
			<textarea></textarea>
		</div>

		<h3>Example Links:</h3>
		<input type='text' placeholder='http://' />

		<h3>Do you want to add an approximate cost?</h3>
		<input type='text' placeholder='$' />

	</div>

</div>